<ion-item>
  <ion-label position="floating" >No on Guests</ion-label>
  <ion-input #noGuests></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating" >Name</ion-label>
  <ion-input #name></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating" >Phone</ion-label>
  <ion-input #phone></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating" >Email ID</ion-label>
  <ion-input #mailid></ion-input>
</ion-item>

<ion-button (click)="printJson(noGuests.value, name.value, phone.value, mailid.value)">Get Value</ion-button>