<ion-grid>

  <ion-row>
    <ion-col>

      <ion-icon [name]="reward1 ? 'trophy' :'radio-button-off'"> </ion-icon>

    </ion-col>
    <ion-col>

      <ion-icon [name]="reward2 ? 'trophy' :'radio-button-off'"> </ion-icon>

    </ion-col>
    <ion-col>

      <ion-icon [name]="reward3 ? 'trophy' :'radio-button-off'"> </ion-icon>

    </ion-col>
    <ion-col>

      <ion-icon [name]="reward4 ? 'trophy' :'radio-button-off'"> </ion-icon>

    </ion-col>
    <ion-col>

      <ion-icon [name]="reward5 ? 'trophy' :'radio-button-off'"> </ion-icon>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button fill="clear" (click)="onClick('1')">
        <ion-icon [name]="button1 ? 'checkmark' :'radio-button-off'"> </ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button fill="clear" (click)="onClick('2')">
        <ion-icon [name]="button2 ? 'checkmark' :'radio-button-off'"> </ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button fill="clear" (click)="onClick('3')">
        <ion-icon [name]="button3 ? 'checkmark' :'radio-button-off'"> </ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button fill="clear" (click)="onClick('4')">
        <ion-icon [name]="button4 ? 'checkmark' :'radio-button-off'"> </ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>