<!-- <ion-item>
  <ion-label position="floating" >No on Guests</ion-label>
  <ion-input #noGuests></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating" >Name</ion-label>
  <ion-input #name></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating" >Phone</ion-label>
  <ion-input #phone></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating" >Email ID</ion-label>
  <ion-input #mailid></ion-input>
</ion-item>



<ion-button (click)="printJson(noGuests.value, name.value, phone.value, mailid.value)">Get Value</ion-button> -->

<ion-list>
  <ion-item>
    <ion-label>Pepperoni</ion-label>
    <ion-toggle [(ngModel)]="toggle1" (ionChange)="updateItem()" ></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Sausage</ion-label>
    <ion-toggle [(ngModel)]="toggle2" (ionChange)="updateItem()"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Mushrooms</ion-label>
    <ion-toggle [(ngModel)]="toggle3" (ionChange)="updateItem()"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label position="floating" >Phone</ion-label>
    <ion-input #phone [(ngModel)] = "input"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" >{{input}}</ion-label>
  </ion-item>


  
</ion-list>

